<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Home</title>
</head>

<body class="p-3 mb-2 bg-light text-black">
<div class="container">

    <!--logout-->
    <div id="logoutDiv">
        <form action="#" method="post" th:action="@{'/logout'}">
            <button type="submit" class="btn btn-secondary float-right">Logout</button>
        </form>
    </div>

    <div id="contentDiv" style="clear: right;">

        <!--navbar-->
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a  th:class="${activeTab == 'nav-files' ? 'nav-item nav-link active' : 'nav-item nav-link'}" id="nav-files-tab" data-toggle="tab" href="?fragment=nav-files"
                   role="tab" aria-controls="nav-files" aria-selected="${activeTab == 'nav-files'}">Files</a>

                <a  th:class="${activeTab == 'nav-notes' ? 'nav-item nav-link active' : 'nav-item nav-link'}" id="nav-notes-tab" data-toggle="tab" href="?fragment=nav-notes" role="tab"
                   aria-controls="nav-notes" aria-selected="${activeTab == 'nav-notes'}">Notes</a>

                <a  th:class="${activeTab == 'nav-credentials' ? 'nav-item nav-link active' : 'nav-item nav-link'}" id="nav-credentials-tab" data-toggle="tab" href="?fragment=nav-credentials"
                   role="tab" aria-controls="nav-credentials" aria-selected="${activeTab == 'nav-credentials'}">Credentials</a>
            </div>
        </nav>

        <div th:switch="${activeTab}" class="tab-content" id="nav-tabContent">
            <!--Files-->
            <div th:case="'nav-files'" th:class="${activeTab == 'nav-files' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <form action="#" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 80%" scope="col">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a target="_blank" class="btn btn-success">View</a>
                                <a class="btn btn-danger">Delete</a>
                            </td>
                            <th scope="row">ExampleFile.txt</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Notes-->
            <div th:case="'nav-notes'" th:class="${activeTab == 'nav-notes' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                        onclick="showNoteModal(this)">
                    + Add a New Note
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="userTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 20%" scope="col">Title</th>
                            <th style="width: 60%" scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="note : ${notes}" th:id="${note.noteId}">
                            <td>
                                <button type="button" class="btn btn-success"
                                        th:data-note-id="${note.noteId}"
                                        th:data-note-title="${note.noteTitle}"
                                        th:data-note-description="${note.noteDescription}"
                                        onclick="showNoteModal(this)"
                                >Edit</button>
                                <a th:href="@{'/result/deleteNote/' + ${note.noteId}}" class="btn btn-danger">Delete</a>
                            </td>
                            <th th:text="${note.noteTitle}" scope="row">Example Note Title</th>
                            <td th:text="${note.noteDescription}">Example Note Description </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" onclick="closeNoteModal()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST" th:action="@{'/result/addNote'}" th:object="${noteModel}">
                                    <input th:field="*{noteId}" type="hidden" name="noteId" id="note-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input th:field="*{noteTitle}" type="text" name="noteTitle" class="form-control" id="note-title"
                                               maxlength="20" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea th:field="*{noteDescription}" class="form-control" name="noteDescription" id="note-description"
                                                  rows="5" maxlength="1000" required></textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeNoteModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"
                                        onclick="$('#noteSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Credentials-->
            <div th:case="'nav-credentials'" th:class="${activeTab == 'nav-credentials' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                        onclick="showCredentialModal(this)">
                    + Add a New Credential
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cred : ${credentials}" th:id="${cred.credentialId}">
                            <td>
                                <button type="button" class="btn btn-success"
                                        th:data-cred-id="${cred.credentialId}"
                                        th:data-cred-url="${cred.url}"
                                        th:data-cred-username="${cred.username}"
                                        th:data-cred-password="${cred.password}"
                                        onclick="showCredentialModal(this)"
                                >Edit</button>
                                <a th:href="@{'/result/deleteCredential/' + ${cred.credentialId}}"
                                   class="btn btn-danger">Delete</a>
                            </td>
                            <th th:text="${cred.url}" scope="row">>Example Credential URL</th>
                            <td th:text="${cred.username}">Example Credential Username</td>
                            <td th:text="${cred.password}">Example Credential Password</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog"
                     aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" class="close" onclick="closeCredentialModal()" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST" th:action="@{'/result/addCredential'}"
                                    th:object="${credentialModel}">
                                    <input th:field="*{credentialId}" type="hidden" name="credentialId" id="credential-id">
                                    <div class="form-group">
                                        <label for="credential-url" class="col-form-label">URL</label>
                                        <input th:field="*{url}" type="text" name="url" class="form-control" id="credential-url"
                                               maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-username" class="col-form-label">Username</label>
                                        <input th:field="*{username}" type="text" name="username" class="form-control"
                                               id="credential-username" maxlength="30" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-password" class="col-form-label">Password</label>
                                        <input th:field="*{password}" type="text" name="password" class="form-control"
                                               id="credential-password" maxlength="30" required>
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeCredentialModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"
                                        onclick="$('#credentialSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script th:src="@{/js/jquery-slim.min.js}"></script>-->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--For opening the note modal-->
<script type="text/javascript">
    // For opening the note modal
function showNoteModal(note) {
    var noteId = note.getAttribute('data-note-id');
    var noteTitle = note.getAttribute('data-note-title');
    var noteDescription = note.getAttribute('data-note-description');
    document.getElementById('note-id').value = noteId ? noteId : '';
    document.getElementById('note-title').value = noteTitle ? noteTitle : '';
    document.getElementById('note-description').value = noteDescription ? noteDescription : '';
    document.getElementById('noteModal').classList.add('show');
    document.getElementById('noteModal').setAttribute('aria-modal', 'true');
    document.body.classList.add('modal-open');
    document.getElementById('noteModal').setAttribute('style', 'display: block; padding-right: 15px;');
}

function closeNoteModal() {
    document.getElementById('noteModal').classList.remove('show');
    document.getElementById('noteModal').removeAttribute('aria-modal');
    document.body.classList.remove('modal-open');
    document.getElementById('noteModal').removeAttribute('style');
}

        async function showCredentialModal(cred) {
            var credentialId = cred.getAttribute('data-cred-id');
            var url = cred.getAttribute('data-cred-url');
            var username = cred.getAttribute('data-cred-username');
            var password = cred.getAttribute('data-cred-password');


            if (credentialId != null) {
                response = await fetch('/home/decrypt?credId=' + credentialId, {
                    method: 'GET'
                });
                if (response.ok) {
                    password = await response.text();
                    console.log('Decrypted password:', password);
                }
            }

                document.getElementById('credential-id').value = credentialId ? credentialId : '';
                document.getElementById('credential-url').value = url ? url : '';
                document.getElementById('credential-username').value = username ? username : '';
                document.getElementById('credential-password').value = password ? password : '';
                document.getElementById('credentialModal').classList.add('show');
                document.getElementById('credentialModal').setAttribute('aria-modal', 'true');
                document.body.classList.add('modal-open');
                document.getElementById('credentialModal').setAttribute('style', 'display: block; padding-right: 15px;');
            }

function closeCredentialModal() {
    document.getElementById('credentialModal').classList.remove('show');
    document.getElementById('credentialModal').removeAttribute('aria-modal');
    document.body.classList.remove('modal-open');
    document.getElementById('credentialModal').removeAttribute('style');
}


</script>
</body>

</html>